/* 
  Begin global styles
 */
html {
  font-size: 12px;
}

body {
  position: relative;

  * {
    font-family: $opensans;
  }
}

img {
  max-width: 100%;
}

.page {
  overflow: hidden;
}

.fill {
  height: 100%;
}



/* 
  Begin header styles
 */
.header {
  font-family: $opensans;
  border-bottom: 1px solid $lightgrey;
  position: relative;
  z-index: 300;
  background-color: $white;

  .sub-menu-visible {
    display: flex;
  }

  ul {
    padding: 0;
    margin: 0;
    display: none;

    &:not(.child-list) {
      display: flex;
      height: 100%;

      > li {
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        border-bottom: 3px solid $white;

        a {
          padding: 15px 25px;
        }

        &:hover {
          color: $yellow;
          border-bottom: 3px solid $yellow;
        }
      }
    }

    .child-list {
      display: none;
      position: absolute;
      top: 58px;
      left: 0;
      list-style-type: none;
      flex-direction: column;
      background-color: $black;
      z-index: 300;
      min-width: 100%;
      padding: 15px 0;

      &.sub-menu-visible {
        display: flex;
      }

      li {
        padding: 8px 12px;
        white-space: nowrap;
      }

      a {
        padding: 5px;
      }

      a, li {
        color: $white;

        &:hover {
          color: $yellow;
        }
      }
    }

    .sub-child-list {
      display: none;
      position: absolute;
      right: 0;
      background-color: $yellow;
      height: auto;
      flex-direction: column;
      left: calc(100% + 10px);
      width: 100%;

      &::before {
        content: '';
        position: absolute;
        right: 100%;
        display: block;
        width: 0; 
        height: 0; 
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent; 
        border-right:10px solid $yellow;
        top: 5px; 
      }

      &::after {
        content: '';
        position: absolute;
        right: 100%;
        display: block;
        width: 10px; 
        height: 100%; 
        top: 0px;
        background-color: transparent; 
      }

      li, a {
        &:hover {
          color: $lightgrey;
        }
      }

      li a {
        color: $black;
        padding: 5px;
      }

      li {
        border: none;
        padding: 8px 12px;
        white-space: normal;

        &:hover {
          border: none;
          color: $white;
        }
      }

    }
  }

  li {
    list-style-type: none;
    font-weight: 600;
    text-transform: uppercase;
    color: $black;

    a {
      color: $black;

      &:hover {
        color: $yellow;
        text-decoration: none;
      }
    }
  }
}


/* 
  Call to action button styles
 */

.cta {
  text-transform: uppercase;
  letter-spacing: 2.2px;
  padding: 0 35px;
  line-height: 45px;
  display: inline-block;
  transition: 0.3s;
  margin: 25px 0;
  border-radius: 5px;
  background-color: $black;
  color: $white;
  font-weight: 700;

  &:hover {
    background-color: $yellow;
    color: $black;
    text-decoration: none;
  }

  &.primary {
    background-color: $yellow;
    color: $black;

    &:hover {
      background-color: $black;
      color: $yellow;
    }
  }

  &.alternate {
    background-color: $lightgrey;
    color: $black;

    &:hover {
      background-color: $black;
      color: $yellow;
    }
  }

  &.second-alternate {
    background-color: $yellow;
    color: $black;
    border: 2px solid $yellow;

    &:hover {
      background-color: $black;
      color: $yellow;
    }
  }
}



/* 
  Footer styles
 */
.footer {

  &__background-wrapper {
    background-color: $black;
  }

  &__heading-section {
    padding: 150px 0;
    text-align: center;
  }

  &__links {
    padding: 25px 0;
    border-top: 1px solid $darkgrey;

    .p {
      font-size: 1.2rem;
    }

    > * {
      color: $white;
    }

    > div {
      padding: 0;
    }
  }

  .h1 {
    font-weight: 700;
    font-size: 4.3rem;
    text-align: center;
    color: $white;
    margin-bottom: 50px;
  }

  input[type=text] {
    width: 100%;
    color: $lightgrey;
    font-size: 1.2rem;
    padding: 12px;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.2);
    border: none;
    outline: none !important;
  }

  input[type=submit] {
    max-width: 100%;
    padding: 0;
    text-align: center;
    display: block;
    width: 100%;
  }

}



