// Typography
$opensans: 'Open Sans', sans-serif;
$playfair: 'Playfair Display', serif;

// Colors
$yellow: #FEBC10;
$white: #FFF;
$black: #17161B;
$grey: #7e8890;
$darkgrey: #373737;
$mediumgrey: #3f3f3f;
$lightgrey: #EDEDED;
$bluegrey: #7e8890;
$darkergrey: #939da5;

$diff-process-border-color: rgba(255,255,255,0.2);

$square-bg: url('/../../../../img/square_bg.png');
$services-bg: url('/../../../../img/services_home_bg.jpg');
